body{
    margin:0 ;
    padding:0 ;
}

.bgForm {
    background-image: linear-gradient( 112.1deg,  rgb(57, 32, 49) 11.4%, rgb(80, 36, 52) 70.2% );
}

.createContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
}

.formContainer {
    padding: 0 17rem;
}


.row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.statsRow {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.textInput {
    display: block;
    width: 45%;
}

.stat {
    display: block;
    width: 30%;
}

.formContainer label {
    color: #ddb3ff;
    font-weight: 700;
    font-size: 1.2rem;
}

.input {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    background-color: #ae97c0;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    box-shadow: none;
    font-size: 1rem;
    width: -webkit-fill-available;
    border: 1px solid;
}

input:focus {
    outline: 0;
    border-color: #ddb3ff;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 234, 0.25);
}

.error {
    border: 2px solid #ff1100;
}

.error:focus {
    outline: 0;
    border-color: #ff1100;
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}

.spanError {
    color: #ff0019;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.typesSelectors {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
    color:rgb(57, 32, 49)
}

.typeSelector {
    display: flex;
    width: 7rem;
    
}


.buttonSubmit {
    background: #500622;
    color: #ffffff;
    padding: 8px 12px;
    margin-top: 1rem;
    margin: 0 auto;
    border: none;
    display: block;
    width: 40%;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.buttonSubmit:disabled {
    cursor: not-allowed;
}
