@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-image: linear-gradient( 112.1deg,  rgb(57, 32, 49) 11.4%, rgb(80, 36, 52) 70.2% );
    /* border-color: red;
    border-style: double; */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        ellipse at center, 
        rgb(31, 2, 68) 0%, 
        rgb(0, 0, 0) 100%
      );
    /* border-radius: 10px; */
    box-shadow: 0 3px 30px 7px rgba(5, 4, 5, 0.61);

}

.stats{
    /* font-weight: 550; */
    font-size: 1.2rem;
    color: #c9c9c9;
}

.leftContainer {
    /* width: 45%; */
    /* box-sizing: border-box; */
    text-align: center;
    /* padding: 0 2.5rem; */
    width: 200px;
    /* border-color: red;
    border-style: double; */

}

.label {
    /* width: 2px; */
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    color: #cca653;
    font-weight: 700;
    font-size: 2rem;
    margin: 1.6rem;
    padding: 0 0 0 2.5rem;
    /* border-color: red;
    border-style: double; */
}

.rightContainer {
    padding: 5rem 0 0 1rem;
    width: 300px;
    margin-left: 2rem;
    margin-right: -5rem;
    /* border-color: red;
    border-style: double; */
}

/* .title {
    color: #cca653;
    font-size: 3rem;
    margin-bottom: 1.6rem;
    font-family: 'Permanent Marker', cursive;
    text-align: end;
} */

.rightContainer img {
    width: 60%;
    height: 70%;
    /* border-color: red;
    border-style: double; */
}

/* 
.row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} */


.types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 1rem;
}

.type {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.3rem 0.3rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.363);
}



.normal {
    background-color: #a8a878;
}

.fighting {
    background-color: #c03028;
}

.flying {
    background-color: #a890f0;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #b8a038;
}

.bug {
    background-color: #a8b820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #b8b8d0;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.psychic {
    background-color: #f85888;
}

.ice {
    background-color: #98d8d8;
}

.dragon {
    background-color: #7038f8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #ee99ac;
}

.unknown {
    background-color: #68a090;
}

.shadow {
    background-color: #404040;
}